<div class="row">
    <div class="col-sm-4">
        <h1>Emails</h1>
    </div>
    <div class="col-sm-2 col-sm-offset-6 margin-top-20px">
        <button class="btn btn-primary" ng-disabled="busy" ng-click="addNewEmail()">
            New Email
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" ng-if="status.running">
        <progress class="progress-striped active" max="100">
            <bar value="(status.finished * 100) / status.total" type="success">{{ status.finished }}</bar>
            <bar value="(status.errored * 100) / status.total" type="danger">{{ status.errored }}</bar>
            <bar value="(status.rejected * 100) / status.total" type="warning">{{ status.rejected }}</bar>
            <bar value="(status.queued * 100) / status.total" type="info">{{ status.queued }}</bar>
            <bar value="(status.scheduled * 100) / status.total" type="primary">{{ status.scheduled }}</bar>
        </progress>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Subject</td>
                        <td>Date</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in emails track by e._id">
                        <td>{{ e.subject }}</td>
                        <td>{{ e.date | date }}</td>
                        <td>{{ e.status }}</td>
                        <td><button type="button" class="btn btn-default" ng-click="action(e)" ng-disabled="e.status === 'Completed'">{{ e.status === 'New' ? 'Start' : 'Pause' }}</button></td>
                    </tr>
                    <tr ng-if="!busy && !emails.length">
                        <td colspan="4">No emails found...</td>
                    </tr>
                    <tr ng-if="busy">
                        <td colspan="4">Loading emails....</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
