<div class="row">
    <div class="col-sm-4">
        <h1>Users</h1>
    </div>
    <div class="col-sm-2 col-sm-offset-4 margin-top-20px">
        <button class="btn btn-primary" ng-disabled="busy || status.running" ng-click="performUserDownload()">
            Perform User Download
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" ng-if="status.running">
        <progressbar class="progress-striped active" max="status.total" value="status.finished + status.errored"><span style="color:black; white-space:nowrap;">{{ status.finished + status.errored }} / {{ status.total }}</span></progressbar>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Minecraft</td>
                        <td>Username</td>
                        <td>Email</td>
                        <td>Unsubscribed</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users track by u._id">
                        <td>{{ u.minecraft }}</td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.unsubscribed ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr ng-if="!busy && !users.length">
                        <td colspan="4">No users found...</td>
                    </tr>
                    <tr ng-if="busy">
                        <td colspan="4">Loading users....</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
